*{
    margin:0;
    padding: 0;
}
.card{
    width: 300px;
    height: 300px;
    background-color: aqua;
    color: brown;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    border: none;
    
}
.card img{
    width: 250px;
    height: 250px;
    align-content: center;
    box-shadow: 0px 0px 2px black ;
    border-radius: 50%;
}