*{
    padding: 0;margin: 0;
}
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 75px;
    background-color: aqua;
    color: rgb(237, 100, 9);
}
.right{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 30%;
    
}
.right a{
    text-decoration: none;
    color: rgb(237, 100, 9);
}
