.container{
    display: flex;
    
    
}
.lefthome{
    position: fixed;          
    top: 75px;                
    left: 0;
    width:100px;
    min-height: calc(100vh - 75px);
    background-color: rgb(105, 165, 165);
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 20px;

    
}
.righthome{
    margin-top: 75px;
    margin-left: 100px;
    padding:10px;
    min-height: calc(100vh - 75px);
    flex-grow: 1;
    background-color: rgb(10, 83, 83);
    overflow-y: auto;
}