*{
    padding: 0;
    margin: 0;
}
.nav{
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: aqua;
    color: blueviolet;
    height: 75px;
}
.right{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 40%;
}