*{
    margin: 0;
    padding:0;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 75px;
    background-color:black;
    color: white;
    margin-bottom: 10px;
    width: 100%;
}
.right{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 30%;
}
