*{
    padding: 0;margin: 0;
}

.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 75px;
    background-color: lightblue;
}

.right{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 30%;
}